<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!--网络权限：播放、M3U/EPG下载、WEB服务-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!--开机自启权限-->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <!--存储权限：EPG本地缓存文件-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true">
        <!--主播放启动页-->
        <activity android:name=".activity.PlayActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!--设置页面-->
        <activity android:name=".activity.SettingActivity"/>
        <!--EPG弹窗页面-->
        <activity android:name=".activity.EpgDialog"/>
        <!--开机广播接收器-->
        <receiver android:name=".receiver.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <!--定时刷新M3U/EPG广播-->
        <receiver android:name=".receiver.RefreshSubReceiver"/>
    </application>
</manifest>
