        <!-- ================ 以下部分全部移除 ================ -->
        <!-- HuyaBerry SDK Activities -->
        <activity
            android:name="com.huya.berry.webview.WebViewActivity"
            ... />
        <activity
            android:name="com.huya.berry.webview.ImagePickerActivity"
            ... />
        <activity
            android:name="com.huya.berry.sdkcamera.CameraEchoActivity"
            ... />
        <activity
            android:name="com.huya.berry.sdkplayer.floats.view.PlayerActivity"
            android:theme="@style/AppTheme.Live.Living2"  <-- ！！！报错源！！！
            ... />
        <activity
            android:name="com.huya.berry.sdkplayer.floats.view.PortraitPlayerActivity"
            android:theme="@style/AppTheme.Live.Living2"  <-- ！！！报错源！！！
            ... />
        <service
            android:name="com.huya.berry.sdklive.liveTool.LiveToolService"
            ... />
        <!-- ================ 以上部分全部移除 ================ -->
